
/*********************
*****Basic  styling***
**********************/
*{
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 62.5%;

}

/*********************
*****body styling****
*********************/

body{
    background-color: hsl(212, 45%, 89%);
    font-family: [Outfit](https://fonts.google.com/specimen/Outfit);
}

/*********************
*****Media Quiries****
*********************/

@media(max-width:1130px){
    html{
        font-size: 55%;
    }
    img{
        width: 40%;
    }
}
@media(max-width:960px){
    html{
        font-size: 50%;
    }
    
}
@media(max-width:600px){
    html{
        font-size: 45%;
    }
    img{
        width: 20%;
    }
}
@media(max-width:225px){
    html{
        font-size: 35%;
    }
    img{
        width: 10%;
    }
}

/*********************
*****Stylu=ing*******
*********************/
img {
  width: 100%;
  height: auto;
  border-radius: 1rem;

}
.box{
    background-color: white;
    width: 30rem;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 1rem 1rem;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5rem 0rem ;  

}
h2{
    margin-top: 2rem;
}
p{
    text-align: center;
    padding: 1.5rem 1rem;
    font-size: 1.4rem;
    color:  hsl(220, 15%, 55%);
}











/* 
I've just completed a front-end coding challenge from @frontendmentor! 🎉

You can see my solution here: https://www.frontendmentor.io/solutions/containerdisplaypaddinggapborderradiusemedia-queriesheight-01axCP6v0i

Any suggestions on how I can improve are welcome!

*/